.css-injector-images-form .form-item {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.css-injector-images-form .form-item .form-managed-file {
  float: left;
  padding: 10px 0;
}

.css-injector-images-form .form-item .description {
  float: left;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 10px 0;
}

.css-injector-images-form .form-item .file-icon {
  display: none;
}

.css-injector-images-form .form-item input.form-submit, 
.css-injector-images-form .form-item a.button {
  margin: 0 20px 0 10px;
  padding: 0 10px;
}
